#layer-0{
  height: 60vh;
  background-color: #E6CFA9;
  z-index: 0;

}
#layer-1{
  height: 70vh;
  background-color: #C1856D;
  z-index: 1;

  border-top-right-radius: 60px;
  border-top-left-radius: 20px;
  margin-top: -50px;
}
#layer-2{
  height: 20vh;
  background-color: #9A3F3F;
  z-index: 2;

  margin-top: -70px;
  border-top-right-radius: 20px;
  border-top-left-radius: 60px;
}
#layer-3{
  height: 110px;
  width: 110px;
  background-color: #582e5b;
  z-index: 3;

  /* margin: -100px 0px 0px -100px; */
  margin-top: -88vh;
  margin-left: 36vw;

  border-radius: 50%;

  /* The "Track": Make the border light or transparent */
  border: 5px solid #f4f1d4; 
  /* The "Indicator": This is the part that will visibly spin */
  border-top-color: #1E104E;

  animation: spin 1s linear infinite;
}


.layers{
  position: relative;
  margin: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
